

form{
  padding-left: 10px;
}

.main {
  
  position: absolute;
  top: 40%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }

.main-row {
  position: relative;
  padding-top:50px;
  align-items: center;
  padding-bottom: 30px;
 
}
.LeftInf {
  list-style: none;
  font-size: 10px;
  padding: 0;
  top: 10px;
  text-align: left;
}

.RightInf {
  list-style: none;
  font-size: 10px;
  padding: 0;
}
ul {
  list-style: none;
 
  }
.toggle {
  position: absolute;
  top: 20%;
}
.main-bottom-col {
 
  align-items: center;
  padding-left: 130px;
}
.main-bottom-col ul{
 position: relative;
  text-align: center;
}
.main-bottom-col a:link{
  text-decoration: none;
 
}
.main-bottom-col .temperature{
  font-weight: bold;
  font-size: 24px;
}
.main-bottom-col .units{
 
font-size: 16px;
margin-left: 10px;
}

.small-circles {
  border-radius: 0% 100% 32% 68% / 0% 68% 32% 100%;
}
.WeatherForcast-temperatures-min{
color: rgb(128, 128, 129);
}
#right-top {
  transform: rotate(90deg);
}
.right-top-writting{
position: relative;
 transform: rotate(-90deg);
 padding-top: 0;
 padding-left: 10%;
 font-size: 16px;
}
 #right-top-icon{
  position:absolute;
 top: -90px; 
 left:30px;
 transform: rotate(45deg);
 }
#WeatherForcasrDay-right-top{
  position: absolute;
left:0px;
top:-35px;
transform: rotate(45deg);

}
#WeatherForcast-temperatures-max-right-top{
position: absolute;
left:-20px;
top:27px;
transform: rotate(47deg);
}
#WeatherForcast-temperatures-min-right-top{
position: absolute;
left:-50px;
top:-5px;
transform: rotate(47deg);

}

#right-bottom {
  transform: rotate(200deg);
}
.right-bottom-writting{
 position: relative;
 transform: rotate(150deg);
 padding-top: 0;
 padding-left:50%;
 font-size: 16px; 
 align-items: center;
}
#left-bottom {
  transform: rotate(-110deg);
}
.left-bottom-writting{
 position: relative;
 transform: rotate(120deg);
 font-size: 16px; 
 }
#left-bottom-icon{
 position:absolute;
 top: 0px; 
 left:130px;
 transform: rotate(15deg);
}
#WeatherForcast-temperatures-min-left-bottom{
 position:absolute;
 top: -115px; 
 left:170px;
 transform: rotate(18deg);
 
}
#WeatherForcast-temperatures-max-left-bottom{
 position:absolute;
 top: -100px; 
 left:215px;
transform: rotate(18deg);
}
#WeatherForcasrDay-left-bottom{
position:absolute;
 top: -50px; 
 left:165px;
transform: rotate(15deg);
}

#right {
  transform: rotate(135deg);
}
.right-writting{
 position: relative;
 transform: rotate(-135deg);
 padding-top: -10px;
 padding-left:10%;
 font-size: 16px; 
  }
  #right-icon{
  position:absolute;
 top: -100px; 
 left:85px;
 }
#WeatherForcasrDay-right{
  position: absolute;
left: 20px;
top:-90px;

}
#WeatherForcast-temperatures-max-right{
  position: absolute;
left: -20px;
top:-85px;
}
#WeatherForcast-temperatures-min-right{
   position: absolute;
left: -60px;
top:-85px;

}

#right-bottom-icon{
 position:absolute;
 top: -35px; 
 left:140px;
 transform: rotate(-15deg);
}
#WeatherForcast-temperatures-min-right-bottom{
 position:absolute;
 top: -135px; 
 left:105px;
 transform: rotate(-18deg);
 
}
#WeatherForcast-temperatures-max-right-bottom{
 position:absolute;
 top: -148px; 
 left:150px;
transform: rotate(-18deg);
}
#WeatherForcasrDay-right-bottom{
position:absolute;
 top: -85px; 
 left:135px;
transform: rotate(-18deg);
}

#left {
  transform: rotate(-50deg);
}.left-writting{
 position: relative;
 transform: rotate(48deg);
 
 padding-left:0;
 font-size: 16px; 
 align-items: center;
}
#left-icon{
  position:absolute;
 padding-top: 40px; 
 padding-left:50px;
 }
#WeatherForcasrDay-left{
  position: absolute;
padding-left: 140px;
padding-top:55px;

}
#WeatherForcast-temperatures-min-left{
  position: absolute;
padding-left: 200px;
padding-top:60px;

}
#WeatherForcast-temperatures-max-left{
   position: absolute;
padding-left: 240px;
padding-top:60px;
}
#top {
  transform: rotate(45deg);
}
.top-writing{
position: absolute;
 transform: rotate(-45deg);
 padding-top: 50%;
 padding-left: 9%;
 font-size: 26px;
 font-weight: bold;
}
.WeatherForcasrDay{
  font-weight: 700;
font-size: 20px;
}
#left-top{
transform: rotate(0deg);
}
#left-top-icon{
  position:absolute;
 top: 0px; 
 left:0px;
 transform: rotate(-45deg);
 }
#WeatherForcasrDay-left-top{
  position: absolute;
left:70px;
top:75px;
transform: rotate(-45deg);

}
#WeatherForcast-temperatures-max-left-top{
position: absolute;
left:130px;
top:100px;
transform: rotate(-42deg);
}
#WeatherForcast-temperatures-min-left-top{
   position: absolute;
left:100px;
top:127px;
transform: rotate(-42deg);

}



