:root {
  --background-color-1: rgb(152, 213, 228);
  --sun-color-base: #f2f5a3;
  --sun-color-leaf: #e9ebba;
}

form{
  padding-left: 10px;
}

.main {
  
  position: absolute;
  top: 40%;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }

.main-row {
  position: relative;
  padding-top:50px;
  align-items: center;
  padding-bottom: 30px;
 
}
.LeftInf {
  list-style: none;
  font-size: 10px;
  padding: 0;
  top: 10px;
  text-align: left;
}

.RightInf {
  list-style: none;
  font-size: 10px;
  padding: 0;
}
ul {
  list-style: none;
 
  }
.toggle {
  position: absolute;
  top: 20%;
}
.main-bottom-col {
 
  align-items: center;
  padding-left: 130px;
}
.main-bottom-col ul{
 position: relative;
  text-align: center;
}
.main-bottom-col a:link{
  text-decoration: none;
 
}
.main-bottom-col .temperature{
  font-weight: bold;
  font-size: 24px;
}
.main-bottom-col .units{
 
font-size: 16px;
margin-left: 10px;
}

.small-circles {
  border-radius: 0% 100% 32% 68% / 0% 68% 32% 100%;
}
#right-top {
  transform: rotate(90deg);
}
.top-writing{
position: relative;
 transform: rotate(-45deg);
 padding-top: 30%;
 padding-left: 10%;
 font-size: 26px;
}
#right-bottom {
  transform: rotate(200deg);
}
#left-bottom {
  transform: rotate(-110deg);
}
#right {
  transform: rotate(135deg);
}
#left {
  transform: rotate(-50deg);
}
#top {
  transform: rotate(45deg);
}



